@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font: 'Inter', sans-serif;;


  /* breakpoints */
  --SmartPhoneBP: 480px;
  --TabletBP: 768px;
  --Desktop: 1024px;

  /* APPs Colors */
  --StPatricksBlue: #2a2a72;
  --CornflowerBlue: #8390fa;
  --TifanyBlue: #00bfb2;
  --AndroidGreen: #9bc53d;
  --White: #ffffff;
  --Red: #FF0000;

  /* Margenes  */
  --side-margin: 70px;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font);
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rbg(--foreground-rgb);
  background: var(--StPatricksBlue);
}

header {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  height: 60px;
  background: var(--CornflowerBlue);
  padding: 0 var(--side-margin);
}

footer {
  width: 100%;
  height: 60px;
  background: var(--CornflowerBlue);
  padding: 0 var(--side-margin);
}

a {
  color: inherit;
  text-decoration: none;
}


